@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@media (max-width: 640px) 
{
   .carousel
   {
    display: none;
   }
}

*{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 600;
}

body {
    background:linear-gradient(rgb(85, 255, 232),rgb(32, 17, 167))
}

.navbar {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.nav-item {
    text-decoration: underline 0.15em transparent;
    text-underline-offset: 0.2em;
    transition: text-decoration-color 300ms, text-underline-offset 300ms;
    font-weight: 600;
}

.nav-item:hover {
    text-decoration-color: rgb(255, 255, 255);
    text-underline-offset: 0.4em;
}

.carousel {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.card-styling {
    transition: ease-in-out 200ms;
}


.card-styling:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.footer-hover {
    text-decoration: underline 0.15em transparent;
    text-underline-offset: 0.2em;
    transition: text-decoration-color 300ms, text-underline-offset 300ms;
}

.footer-hover:hover {
    text-decoration-color: rgb(255, 255, 255);
    text-underline-offset: 0.4em;
}
