@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: "Roboto", sans-serif;
    font-style:normal;
    font-optical-sizing: auto;
    font-weight: 600;
    /* text-transform: uppercase; */
}

body {
    background-image:url(images/Tucson-Arizona.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.navbar {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
}

.navbar:before {
    content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px);
  margin: -20px;
}

.nav-item {
    text-decoration: underline 0.15em transparent;
    text-underline-offset: 0.2em;
    transition: text-decoration-color 300ms, text-underline-offset 300ms;
    font-weight: 600;
}

.nav-item:hover {
    text-decoration-color: rgb(255, 255, 255);
    text-underline-offset: 0.4em;
}

/* Carousel Styles */
/* Carousel Styles */
.carousel {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    width: 700px; /* Increased size for desktop */
    margin: auto; /* Center carousel */
}

@media (max-width: 640px) {
    .carousel {
        width: 100%; /* Full width on mobile */
        margin: 0;   /* Remove margin */
    }
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.card-styling {
    transition: ease-in-out 200ms;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card-styling:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.footer-hover {
    text-decoration: underline 0.15em transparent;
    text-underline-offset: 0.2em;
    transition: text-decoration-color 300ms, text-underline-offset 300ms;
}

.footer-hover:hover {
    text-decoration-color: rgb(255, 255, 255);
    text-underline-offset: 0.4em;
}

/* Sermon Page Styling */

#sermonContent .btn-primary {
    display: block;
    margin: 20px auto; /* Center the "Show More" button */
}

.sidebar {
    height: 110vh;
    background-color: #343a40;
    color: #fff;
    padding-top: 20px;
}
.sidebar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}
.sidebar a:hover {
    background-color: #495057;
    color:white;
}
.content {
    padding: 20px;
    background-color: #f8f9fa;
}
.sermon {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    transition:150ms ease-in-out;
}
.sermon:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#searchInput {
    margin-bottom: 20px;
}

/* Hide sidebar on small screens */
@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
    .dropdown-toggle {
        width: 100%;
        margin-bottom: 20px;
    }
}

.dropdown-menu {
    padding: 10px;
    min-width: 200px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    padding: 10px 15px;
    font-size: 16px;
    border-bottom: 1px solid #e9ecef;
}

.dropdown-item:hover {
    background-color: #495057;
    color: #ffffff;
}

.dropdown-item.active {
    background-color: #343a40;
    color: #ffffff;
    font-weight: bold;
}

.dropdown-item:last-child {
    border-bottom: none;
}