@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@media (max-width: 640px) 
{
   .carousel
   {
      display: none;
   }
}

@media (max-width: 414px) 
{
   
}

*{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 600;
}

.nav-item {
    text-decoration: underline 0.15em transparent;
    text-underline-offset: 0.2em;
    transition: text-decoration-color 300ms, text-underline-offset 300ms;
    font-weight: 600;
}

.nav-item:hover {
    text-decoration-color: rgb(0, 0, 0);
    text-underline-offset: 0.4em;
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-styling {
    transition: ease-in-out 200ms;
}


.card-styling:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.footer-hover {
    text-decoration: underline 0.15em transparent;
    text-underline-offset: 0.2em;
    transition: text-decoration-color 300ms, text-underline-offset 300ms;
}

.footer-hover:hover {
    text-decoration-color: rgb(255, 255, 255);
    text-underline-offset: 0.4em;
}
